/* src/components/SearchBar.css */

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Optional: Add margin to the top for spacing */
  background-color: transparent;
}

input {
  font-size: 20px;
  width: 620px;
  height: 60px;
  margin-right: 20px; /* Optional: Add margin to the right for spacing */
  border-radius: 20px; /* Add rounded edges */
  border: 1px solid #D8BFD8;
  padding-left: 10px;
  background-color: transparent;
  outline: none; /* Remove the default focus outline */
  padding-left: 30px; /* Adjust padding-left to move both text and placeholder to the right */
}

input::placeholder {
  font-style: Noto Sans; /* Example: Make the placeholder text italic */
  transform: translateY(-20px); /* Shift the placeholder text 3 pixels higher */
  font-size: 10px;
  color: #000000;
}

.searchButton {
  cursor: pointer;
  border: none; /* Remove button border */
  padding: 0; /* Remove button padding */
  margin: 0; /* Remove button margin */
  background-color: transparent; /* Make the background transparent */
}

.searchIcon {
  width: 60px; /* Set the width based on your icon size */
  height: 60px; /* Set the height based on your icon size */
}

@media (max-width: 480px) {
  input {
    width: 60%; /* Make the input take full width on smaller screens */
    margin-right: 10px; /* Remove margin on smaller screens */
  }
}