.parent-container {
  position: relative;
  top: 0; /* Position it at the top */
}

.weather-box {
  position: relative;
  padding: 20px;
  margin: 1px auto 20px; /* Adjust margin-top to move it down */
  max-width: 700px;
  max-height: 1145px;
  top: 0; /* Position it at the top */
}

.weather-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.mainTemp {
  font-size: 100px; /* Set the font size for the main temperature */
  font-weight: bold; /* Make the main temperature bold */
  color: rgba(108, 64, 181, 1);
  width: 81px;
  margin-top: -20px;
}

.high-low {
  position: relative;
  margin-top: -70px;
  margin-bottom: -10px;
}

.weather-info {
  display: flex;
  justify-content: space-evenly; /* Spread elements evenly */
  align-items: center; /* Align items vertically at the center */
  margin-top: 20px; /* Increase margin at the top for more spacing */
  color: rgba(102, 102, 102, 1);
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: auto;
}

.weather-info .weather-data-name {
  font-weight: bold;
  font-size: 18px;
  color: rgba(102, 102, 102, 1);
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.weather-info .weather-small-info {
  display: flex; /* Display flex to keep items in the same row */
  align-items: center; /* Align items vertically at the center */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.weather-info .weather-small-info span {
  margin-right: 50px; /* Add margin to the right for spacing */
  margin-left: 40px;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}
.weather-image {
  position: absolute; /* Set the image to absolute positioning */
  top: -100px; /* Position it at the top */
  right: -10px; /* Adjust the distance from the right side of the .weather-box */
  width: 300px; /* Set the width of the image */
  height: 300px; /* Set the height of the image */
  border-radius: 50%; /* Make it a circle by setting border-radius to half of the width/height */
}

@media (max-width: 480px) {
  .weather-image {
    position: absolute; /* Change to relative positioning for smaller screens */
    top: -120px;
    width: 100%; /* Make the image take full width */
    max-width: 200px; /* Set the maximum width of the image for smaller screens */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 20px;
    border-radius: 0; /* Remove border-radius for smaller screens */
  }
  .mainTemp {
    position: relative;
    margin-left: -5px;
    font-size: 50px;
  }
  .high-low {
    position: relative;
    margin-top: -30px;
  }


  .weather-info .weather-data-name {
    margin-bottom: 10px; /* Add margin to the bottom for spacing */
  }

  .weather-info .weather-small-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-top: 0;
  }
}